.user-background-image {
  background: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0) 100%,
      rgb(255, 255, 255) 20%
    ),
    url("https://user-images.githubusercontent.com/59159608/161017631-38c370fa-3fee-417f-bde4-3ad9524630e7.jpg")
      repeat-y repeat-x;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(1.3);
  z-index: -1;
  background-position: center;
}

.user-signup {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 1px solid silver;
  width: 60%;
  max-width: 1200px;
  border-radius: 5px;
  z-index: 2;
  background-color: white;
  transform: scale(0.9);
}

.user-signup form {
  width: 500px;
}

.user-signup input {
  width: 240px;
  padding: 12px 10px;
  box-sizing: border-box;
}

.user-signup button {
  background-color: #008b9e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.user-signup button:hover {
  background-color: #5ab4b4;
}

.user-signup a {
  color: #008b9e;
}

.user-signup a:hover {
  color: #5ab4b4;
}

.user-signup-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-top: 1px solid silver;
  background-color: white;
  position: fixed;
  bottom: 0px;
  transform: 100vw;
}

.user-form-error {
  color: red;
  text-align: center;
}

/* PASSWORD VALIDATION */
#password-requirements {
  display: none;
  position: absolute;
  border: 1px solid black;
  background-color: #eeeef0;
  border-radius: 5px;
  width: 150px;
  padding: 8px;
  margin-top: -60px;
  right: 50px;

  opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 1280px) {
  .user-background-image {
    transform: translateY(0%);
  }

  .user-signup {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    transform: scale(0.85);
  }
}

@media only screen and (max-width: 900px) {
  .user-background-image {
    transform: translateY(15%);
  }

  .user-signup {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 600px;
  }
}

@media only screen and (max-width: 500px) {
  .user-background-image {
    /* transform: translateY(15%); */
  }

  .user-signup {
  }
}

@media only screen and (max-width: 428px) {
  .user-signup {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 400px) {
  .user-background-image {
    /* transform: translateY(15%); */
  }

  .user-signup {
    transform: scale(0.6);
  }
}
